<!-- This is the header page, containing the links and the login/logout button. -->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <!-- If the user is logged in, display the username and a logout button -->
    <% if (username) { %>
      <form class="form-inline" action="/logout" method="POST">
        <div class='nav-item nav-link'>Logged In As: <%= username %></div>
        <button type="submit" class="btn btn-primary" style='color: rgb(25, 25, 25); border-color: rgb(25, 25, 25); background-color: rgb(2, 173, 2)'>Logout</button>
      </form>

      <!-- If the user is NOT logged in, display the login button and input field -->
      <% } else { %>
        <form class="form-inline" action="/login" method="POST">
          <input class="form-control" type="text" name="username" placeholder="Username">
          <button type="submit" class="btn btn-primary" style='color: rgb(25, 25, 25); border-color: rgb(25, 25, 25); background-color: rgb(2, 173, 2)'>Login</button>
        </form>

    <% } %>



  </nav>
</header>